<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>newTimer</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Timer</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTime</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>newCountdown</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Countdown</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
		</dict>
	</array>
</dict>
</plist>
